// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  font-family: 'Poppins', sans-serif;
}

.q-menu {
  box-shadow: none !important;
  overflow: hidden;
}

.btn-scroll-top {
  position: fixed;
  z-index: 3000;
  bottom: 10px;
  right: 20px;
}

.q-field--disabled .q-placeholder,
.q-field--disabled .q-field__control>div {
  opacity: 0.9 !important;
}