:root {
  --q-primary: #5e33af;
  --q-secondary: #700f2e;
  --q-accent: #8927b0;
  --q-positive: #21ba45;
  --q-negative: #bb071c;
  --q-info: #3192ec;
  --q-warning: #f2c037;
  --q-dark: #282828;
  --q-dark-page: #242424;
}
